@import "tailwindcss";

@font-face {
  font-family: 'Avenir Next LT Pro Regular';
  src: url('/fonts/AvenirNextLTPro-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Avenir Next LT Pro Demi';
  src: url('/fonts/AvenirNextLTPro-Demi.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@theme inline {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-avenir: 'Avenir Next LT Pro Regular', sans-serif;
  --font-avenir-demi: 'Avenir Next LT Pro Demi', sans-serif;
  --color-blue-manhattan-1: #02163A;
  --color-aviva-turquoise-1: #33869B;
  --color-aviva-coral1: #FF6B6B;
  --color-teal-aviva-1: #32CEBB;
}

@layer base {
  body {
    background-color: #FCFAFA !important;
  }
}



/* Minimalist macOS-style scrollbar */
.mac-scrollbar::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

.mac-scrollbar::-webkit-scrollbar-button {
  display: none;
}

.mac-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.mac-scrollbar::-webkit-scrollbar-thumb {
  background: rgba(156, 163, 175, 0.35);
  border-radius: 999px;
}

.mac-scrollbar::-webkit-scrollbar-thumb:hover {
  background: rgba(107, 114, 128, 0.6);
}

.mac-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: rgba(156, 163, 175, 0.35) transparent;
}